.align-items-center{
    align-items: center !important;
}

.add-categories-container{
    margin: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%), 0 4px 8px 0 transparent;
    border-bottom: 1px solid #DCDFE8;
    border-radius: 10px;
}

.add-categories-container-header{
    padding: 20px;
    border-bottom: 1px solid #DCDFE8;
}

.add-categories-container-body{

}

.add-categories-container-body>form{
    padding: 20px;
}
.add-categories-container-items{

}

.form-control{
    height: 45px;
    line-height: 45px;
    background: #fff;
    border: 1px solid #DCDFE8;
    font-size: 14px;
    color: #676E8A;
    border-radius: 10px;
    box-shadow: none;
    margin-bottom: 1rem;
    padding: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.form-group-col{
    display: flex;
    flex-direction: column;
}
.form-group-row{
    display: flex;
    gap: 10px;
}

.image-file{
    line-height: 0px !important;
}

.text-area{
    line-height: 20px !important;
    height: 150px;
}