.barcode-img{
    
}

.barcode-print-div{
    display: flex;
    justify-content: center;
    width: 390px;
    height: 96px;
}

.display-none{
    display: none;
}

.barcode-div{
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-top: 15px;
}

.barcode-div > span{
    line-height: 15px;
    color: black;
    font-family: monospace;
}