.barcode-img{
    
}

.barcode-print-div{
    display: flex;
    text-align: center;
}

.display-none{
    display: none;
}

.barcode-div{
    display: flex;
    flex-direction: column;
}

.barcode-div > span{
    line-height: 15px;
    color: black;
    font-family: monospace;
}