.wrapper{
  display: grid;
  grid-template-areas:
      'sidebar navbar'
      'sidebar main';
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
} 
#sidebar{
  grid-area: sidebar;
}
#navbar{
  grid-area: navbar;
}
#main{
  grid-area: main;
  padding: 10px;
  height: calc(100vh - 64px);
  overflow-y: scroll
}

.flex-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  gap: 10px;
  background-color: #32BDEA;
  padding: 12px;
  border-color: #32BDEA;
  border: none;
  border-radius: 10px;
}

.btn-primary-style{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    gap: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

h4{
  font-family: "Lato",sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1;
  color: #110A57;
  font-size: 1.44em;
  margin-top: 0;
}

.content-page{
  padding:20px;
}

h3{
  margin: 0;
}

th,td{
  padding: 15px 20px;
}

img{
  width: 50px;
  border-radius: 10px;
}

label{
  display: inline-block;
  color: #01041b;
  margin-bottom: .5rem;
}
p{
  margin: 0;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardboxshadows{
  box-shadow: 0 0 5px rgb(0 0 0 / 20%), 0 4px 8px 0 transparent;
  background-color: var(--primary-white);
}

.flex-gap10{
  gap: 10px;
}

.table-container{
  margin-top: 20px;
}
.loader-class{
  display: flex;
  justify-content: center;
}

.unset-justify-content{
  justify-content: unset;
}

.align-items-start{
  align-items:start;
}

.form-group-col {
  display: flex;
  flex-direction: column;
}
.form-control {
  height: 45px;
  line-height: 45px;
  background: #fff;
  border: 1px solid #DCDFE8;
  font-size: 14px;
  color: #676E8A;
  border-radius: 10px;
  box-shadow: none;
  margin-bottom: 1rem;
  padding: 10px;
}

.unset-line-height{
  line-height:0 !important;
}

.unset-margin{
  margin-bottom:0
}

.flex-grow-2{
  flex-grow: 2;
}
.flex-grow-1{
  flex-grow: 1;
}

.flex-grow-4{
  flex-grow: 4;
}
.flex-grow-3{
  width: 50%;
}

.padding-10{
  padding: 10px;
}

.text-align{
  text-align:center;
}