.wrapper{
  display: grid;
  grid-template-areas:
      'sidebar navbar'
      'sidebar main';
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
} 
#sidebar{
  grid-area: sidebar;
}
#navbar{
  grid-area: navbar;
}
#main{
  grid-area: main;
  padding: 10px;
  height: calc(100vh - 64px);
  overflow-y: scroll
}

.flex-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-primary-style{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    gap: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
}
